<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "col-xs-6 form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>
  <fieldset>
    <div id="legend">
      <legend class="">Registration</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <%= f.label :Username, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :username, class: "form-control" %>
        <p class="help-block">Username can contain any letters or numbers, without spaces</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- E-mail -->
      <%= f.label :Email, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :email, class: "form-control" %>
        <p class="help-block">Please provide your E-mail</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Password-->
      <%= f.label :telephone, class: "control-label" %>
      <div class="controls">
        <%= f.telephone_field :telephone, class: "form-control" %>
        <p class="help-block">Enter your telephone number. Example (+3801234567)</p>
      </div>
    </div>

    <% if resource.password_required? %>
    <div class="control-group">
      <!-- Password-->
      <%= f.label :password, class: "control-label" %>
      <div class="controls">
        <%= f.password_field :password, class: "form-control" %>
        <p class="help-block">Password should be at least 4 characters</p>
      </div>
    </div>
    
 
    <div class="control-group">
      <!-- Password -->
      <%= f.label :password_confirmation, class: "control-label" %>
      <div class="controls">
        <%= f.password_field :password_confirmation, class: "form-control" %>
        <p class="help-block"><%= "Minimum password length is #{@minimum_password_length} symbols" if @validatable %></p>
      </div>
    </div>
    <% end %>
    
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <%= f.submit "Register", class: "btn btn-success btn-lg btn-block" %>
      </div>
    </div>
  </fieldset>
<% end %>
