<%= form_for @task, html: { multipart: true, class: "col-xs-9 form-horizontal" } do |f| %>
  <% if @task.errors.any? %>
    <div id="errors_explanation">
      <h2> <%= pluralize(@task.errors.count, "error") %> need to be fixed </h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  <fieldset>
    <div id="legend">
      <legend class="">Create new task</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <%= f.label :title, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :title, class: "form-control" %>
        <p class="help-block">Title of your request</p>
      </div>
    </div>
    <div class="control-group">
      <!-- Username -->
      <%= f.label :content, "Describe your problem", class: "control-label" %>
      <div class="controls">
        <%= f.text_area :content, rows: 10, class: "form-control" %>
        <p class="help-block">Please, provide description that most fully describes your problem</p>
      </div>
    </div>
    <%= f.fields_for :picture, Picture.new do |t| %>
      <div class="control-group">
        <!-- Username -->
        <%= t.label :image, "You can attach image here", class: "control-label" %>
        <div class="controls">
          <%= t.file_field :image %>
          <p class="help-block">Only images is allowed for uploading</p>
        </div>
      </div>
    <% end %>
 
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <%= f.submit "Submit", class: "btn btn-success btn-lg btn-block" %>
      </div>
    </div>
  </fieldset>
<% end %>
