<div class="col-xs-3 well">
  <% if !user_signed_in? %>
  <%= form_for :user, :url => session_path(:user)  do |f| %>
  <div class="form-group">
    <%= f.label :Email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
    <%= f.submit 'Sign in', class: "btn btn-success btn-block" %>
  <% end %> 
  <%= link_to "Google +", user_omniauth_authorize_path(:google_oauth2)%>
  <%= link_to "Facebook", user_omniauth_authorize_path(:facebook)%>
  <%= link_to "Vkontake", user_omniauth_authorize_path(:vkontakte)%>
  <% else %>
    Hello <%= current_user.username %>!
    <p><%= link_to "Log out", destroy_user_session_path, :method => :delete %></p>
  <% end %>
</div>